body {
    padding: 0;
    overflow: hidden;
    font-family: colfax, helvetica, arial, sans-serif;
}

p.main {
  font-size: 20px;
}

.summary p{
  font-size: 20px;
}

img {
  border-radius: 8px;
  max-width:100%;
  height:auto;
}

.button {
  background-color: #e7e7e7;
  border: 2px solid white;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  position:relative;
  float: left;
}

.map {
    position: absolute;
    right: 0px;
    left: 500px;
    height: 100%;
    top: 0;
}

.sidebar {
    position: absolute;
    left: 0px;
    width: 500px;
    top: 0;
    bottom: 0;
    overflow-y: auto;
    padding: 20px;
    font-size: 16px;
}

.legend {
  display: block;
  position: fixed;
  bottom:50px;
  left:20px;
  width:400px;
  background-color: #ffffff;
  z-index: 2000;
}

.legend.legend-title {
    text-align: left;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 90%;
    }
  .legend.legend-scale ul {
    margin: 0;
    margin-bottom: 5px;
    padding: 0;
    float: left;
    list-style: none;
    }
  .legend.legend-scale ul li {
    font-size: 80%;
    list-style: none;
    margin-left: 0;
    line-height: 18 px;
    margin-bottom: 2px;
    }
  .legend ul.legend-labels li span {
    display: block;
    float: left;
    height: 16px;
    width: 30px;
    margin-right: 5px;
    margin-left: 0;
    border: 1px solid #ffffff;
    opacity: 0.8;
    }
